


/*.tableMy{

background-image: url(background.png);

}*/


/* Navigation Bar */
navigation-bar {
   
    background-color: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);    
  
    shadow: black;
    }

navigation-bar button-appearance{
    -ios-tint-color: rgba(35,35,35,1);
}
toolbar{
background-color: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
}

/* Switches */
switch {
    color: rgba(41,184,229,1);
    -ios-tint-color:rgba(41,184,229,1); }
switch thumb {
    color: rgba(188,224,238,1); }


/* Segmented controls */
.segmented-control {
    color:black;
}
.segmented-control:selected {
    color: white;
    background-color:rgba(0, 0, 0, 0.4);}